

.user {

    &__info {
        padding: 15px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #f1f0f0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__image {
        margin-right: 17px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }

    &__name {
        
    }

    &__exit{
        height: 20px;

    }

    &__icon{
        fill: #000;
        height: 20px;
        width: 20px;
    }

    &__face{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}


.sidebar {

    &__menu {
        background: #fff;
    }

    &__item {
        padding: 16px 16px 16px 48px;
        transition: all 0.25s;
        border-right: 0px double #FAAD14;
        &:hover{
            background: #FFFBE6;
            border-right: 2px double #FAAD14;
        }
    }

    &__link {
        text-decoration: none;
        color: #595959;
        font-size: 14px;
        line-height: 22px;
        transition: all 0.25s;
        &:hover{
            color: #FAAD14;
            
        }
    }

    &__btn{
        width: 100%;
        background: #FAAD14;
        border: none;
        border-radius: 4px;
        color: #FFFFFF;
        height: 50px;
        cursor: pointer;
        position: relative;
        &::before{
            content: url(../img/btn.svg);
            position: absolute;
            left: 16px;
            top: 14px;
        }
    }

    &__post{
        
        margin: 20px 0px;
    }
}


//  =========  banner ===========//
.banner {
    margin-top: 20px;
    cursor: pointer;

    &__image{
        width: 100%;
    }
}

